mylogs.log

/mylogs.log     //Only folder present files
*.log           //all files ended with .log
ignore/         //i.e this is a forder (ignore) which we will ignore


*tempCodeRunnerFile.cpp
*.exe
old_codes/